@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.padded {
  padding: 32px;
}

.gray-background {
  background-color: var(--color-gray-transparent);
}

article {
  padding: 32px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 6px;
}

.floating-button-container {
  position: fixed;
  top: 64px;
  left: 0px;

  width: 80px;
  height: 80px;
  padding: 8px;

  border-radius: 6px;

  background-color: var(--color-gray-transparent);
}

.floating-button-container button {
  width: 100%;
  height: 100%;

  appearance: none;

  border: none;
  outline: none;

  background-color: var(--color-orange);
  border-radius: 6px;
}

* {
  font-family: 'Azeret Mono', monospace;
  box-sizing: border-box;
}

:root {
  --color-gray: #CED9D8;
  --color-gray-transparent:rgb(243, 245, 245);
  --color-orange: #FFA502;
  --color-white: #FFFFFF;
  --color-black: #212326;
}